<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallpaper-React</title>
    <script
      type="module"
      crossorigin
      src="{{url_for('static', filename='js/script_react_compiled.js')}}"
    ></script>
    <link
      rel="stylesheet"
      crossorigin
      href="{{url_for('static', filename='css/style_react_compiled.css')}}"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
