* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #eee;
    cursor: pointer;
    border-radius: 10px;
}

body {
    background: #202020;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
    overflow: hidden;
}

.fondo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    filter: blur(5px);
}

.fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-title {
    position: relative;
    top: 5vh;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#horario {
    position: relative;
    top: 15vh;
    left: calc((100% - 70%) / 2);
    width: 70%;
    box-shadow: 0 5px 10px #202020aa;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px ridge rgba(255, 255, 255, .3);
    padding: 8px;
    text-align: center;
    text-shadow: 0 2px 5px black;
    font-size: 20px;
    background: radial-gradient(rgba(100, 3, 147, .2), rgba(100, 17, 0, .2));
    border-radius: 0;
    transition: font-size .4s;
}

thead {
    background-color: #f2f2f2;
}

th {
    background: radial-gradient(rgba(255, 17, 0), rgb(250, 3, 147));
    color: white;
    text-shadow: 0 0 5px white;
    border-radius: 0;
}

td:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px white;
    font-size: 25px;
}

.btnHide {
    position: absolute;
    top: 0;
    left: calc(100vw - 100px);

    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
    border-radius: 0;
}